---
layout: default
title: "Oakland Film Club"
fulltitle: "Oakland Film Club // Latest"
non_posts:
  - title: "#083 // Back to the Future"
    date: "2021-08-31"
  - title: "#082 // The Piano"
    date: "2021-08-24"
  - title: "#081 // Thelma and Louise"
    date: "2021-08-18"
  - title: "#079 // The Parrallax View"
    date: "2021-07-07"
  - title: "#078 // Ready or Not"
    date: "2021-06-16"
  - title: "#077 // Toni Erdmann"
    date: "2021-05-31"
  - title: "#076 // A Very Curious Girl"
    date: "2021-05-25"
  - title: "#075 // The Fifth Element"
    date: "2021-05-18"
  - title: "#074 // A Night at the Opera"
    date: "2021-05-04"
  - title: "#072 // Ice Station Zebra"
    date: "2021-04-27"
  - title: "#071 // My Blue Heaven"
    date: "2021-04-20"
  - title: "#070 // Some Kind of Heaven"
    date: "2021-04-13"
  - title: "#069 // Dead Pigs"
    date: "2021-03-30"
  - title: "#068 // Cineme Paradiso"
    date:  "2021-03-23"
  - title: "#067 // The Last Days of Disco"
    date: "2021-03-16"
  - title : "#066 // Marley"
    date: "2021-03-02"
  - title: "#065 // Wings of Desire"
    date: "2021-02-23"
  - title: "#064 // Bottle Rocket"
    date: "2021-02-16"
  - title: "#063 // Pain; Gap Toothed Women; Sworn to the Drum"
    date: "2021-02-09"
  - title: "#062 // Sundance 2021 Shorts"
    date: "2021-01-30"
  - title: "#061 // Where is My Friend's House?"
    date: "2021-01-26"
  - title: "#060 // Night on Earth"
    date: "2021-01-19"
  - title: "#059 // Pixote"
    date: "2021-01-12"
  - title: "#058 // Nebraska"
    date: "2021-01-05"
  - title: "#057 // From Dusk Till Dawn"
    date: "2020-12-29"
  - title: "#056 // Platoon"
    date: "2020-12-08"
  - title: "#055 // My Dinner with Andre"
    date: "2020-12-01"
  - title: "#054 // Brigsby Bear"
    date: "2020-11-17"
  - title: "#053 // Kajillionaire"
    date: "2020-11-10"
  - title: "#052 // The Manchurian Candidate"
    date: "2020-11-03"
  - title: "#051 // What the Constitution Means to Me"
    date: "2020-10-27"
  - title: "#050 // Far from Vietnam"
    date: "2020-10-20"
  - title: "#049 // Dr. Strangelove"
    date: "2020-10-13"
  - title: "#048 // The Death of Stalin"
    date: "2020-10-06"
---

{% assign non_posts = page.non_posts | sort: 'date' | reverse %} {% assign posts
= site.p | sort: 'date' | reverse %} {% assign _films = non_posts | concat:
posts %} {% assign films = _films | sort: 'title' | reverse %}

<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->

<section>
  <h1>{{site.title}}</h1>
  {% for film in films %} {% unless film.draft %} {% if film.url %}
  <p><a href="{{ film.url }}">{{ film.title }}</a></p>
  {% else %}
  <p>{{film.title}} // {{film.date}}</p>
  {% endif %} {% endunless %} {% endfor %}
</section>
