---
layout: default
title: "Oakland Film Club"
fulltitle: "Oakland Film Club // Latest"
non_posts:
non_posts:
  - title: "#144 // Songs from the Second Floor"
    date: "2023-05-04"
  - title: "#143 // Marketa Lazarova"
    date: "2023-04-18"
  - title: "#142 // Rashomon"
    date: "2023-04-04"
  - title: "#141 // All the Beauty and the Bloodshed"
    date: "2023-03-29"
  - title: "#140 // Lust, Caution"
    date: "2023-03-22"
  - title: "#139 // From Beijing With Love"
    date: "2023-03-15"
  - title: "#138 // Chongqing Hot Pot"
    date: "2023-03-06"
  - title: "#137 // Ikiru"
    date: "2023-02-28"
  - title: "#136 // It Happened One Night"
    date: "2023-01-17"
  - title: "#135 // Trouble in Paradise"
    date: "2023-01-10"
  - title: "#134 // The Front Page"
    date: "2023-01-05"
  - title: "#133 // To Wong Foo, Thanks for Everything! Julie Newmar"
    date: "2022-12-27"
  - title: "#132 // The Fountain"
    date: "2022-12-19"
  - title: "#131 // Everything Everywhere All at Once"
    date: "2022-12-13"
  - title: "#130 // Rocky"
    date: "2022-12-08"
  - title: "#129 // The Square"
    date: "2022-11-28"
  - title: "#128 // Century of the Self"
    date: "2022-11-22"
  - title: "#127 // Female Trouble"
    date: "2022-11-08"
  - title: "#126 // Rosemary's Baby"
    date: "2022-11-01"
  - title: "#125 // The Adventures of Priscilla, Queen of the Desert"
    date: "2022-10-25"
  - title: "#124 // La Cage aux Folles"
    date: "2022-10-05"
  - title: "#123 // Assault on Precinct 13"
    date: "2022-09-27"
  - title: "#122 // Made in USA"
    date: "2022-09-20"
  - title: "#121 // Pleasure"
    date: "2022-09-13"
  - title: "#120 // Pain & Glory"
    date: "2022-08-02"
  - title: "#119 // Faces Places"
    date: "2022-07-19"
  - title: "#118 // Una Great Movie"
    date: "2022-07-12"
  - title: "#117 // Diner (1982)"
    date: "2022-07-05"
  - title: "#116 // Network"
    date: "2022-06-28"
  - title: "#114 // Another Round"
    date: "2022-06-21"
  - title: "#113 // The Exterminating Angel"
    date: "2022-06-14"
  - title: "#113 // Koyaanisqatsi"
    date: "2022-06-07"
  - title: "#112 // Long Day's Journey Into Night"
    date: "2022-05-24"
  - title: "#111 // Mildred Pierce"
    date: "2022-05-17"
  - title: "#110 // Ran"
    date: "2022-04-26"
  - title: "#109 // Flee"
    date: "2022-04-19"
  - title: "#108 // Kiki's Delivery Service"
    date: "2022-04-12"
  - title: "#107 // The Pool"
    date: "2022-03-22"
  - title: "#106 // The Battle for Algiers"
    date: "2022-03-08"
  - title: "#105 // Office Space"
    date: "2022-03-01"
  - title: "#104 // I Care A Lot"
    date: "2022-02-22"
  - title: "#103 // Distant Voices, Still Lives"
    date: "2022-02-15"
  - title: "#102 // The Thing"
    date: "2022-02-08"
  - title: "#101 // Elle"
    date: "2022-01-25"
  - title: "#100 // Things to Come"
    date: "2022-01-18"
  - title: "#099 // The Green Ray"
    date: "2022-01-11"
  - title: "#098 // The Forest for the Trees"
    date: "2022-01-04"
  - title: "#097 // The Umbrellas of Cherbourg"
    date: "2021-12-28"
  - title: "#096 // Singin' in the Rain"
    date: "2021-12-21"
  - title: "#095 // The Last Picture Show"
    date: "2021-12-14"
  - title: "#094 // Les Diaboliques"
    date: "2021-12-07"
  - title: "#093 // First Reformed"
    date: "2021-11-30"
  - title: "#092 // Shaolin Soccer"
    date: "2021-11-23"
  - title: "#091 // The Grifters"
    date: "2021-11-16"
  - title: "#090 // Millennium Actress"
    date: "2021-11-10"
  - title: "#089 // Requiem for a Dream"
    date: "2021-10-26"
  - title: "#088 // Death Rides a Horse"
    date: "2021-10-20"
  - title: "#087// Le Cercle Rouge"
    date: "2021-10-12"
  - title: "#085 // The Player"
    date: "2021-09-21"
  - title: "#084 // Princess Mononoke"
    date: "2021-09-14"
  - title: "#083 // Back to the Future"
    date: "2021-08-31"
  - title: "#082 // The Piano"
    date: "2021-08-24"
  - title: "#081 // Thelma and Louise"
    date: "2021-08-18"
  - title: "#079 // The Parallax View"
    date: "2021-07-07"
  - title: "#078 // Ready or Not"
    date: "2021-06-16"
  - title: "#077 // Toni Erdmann"
    date: "2021-05-31"
  - title: "#076 // A Very Curious Girl"
    date: "2021-05-25"
  - title: "#075 // The Fifth Element"
    date: "2021-05-18"
  - title: "#074 // A Night at the Opera"
    date: "2021-05-04"
  - title: "#072 // Ice Station Zebra"
    date: "2021-04-27"
  - title: "#071 // My Blue Heaven"
    date: "2021-04-20"
  - title: "#070 // Some Kind of Heaven"
    date: "2021-04-13"
  - title: "#069 // Dead Pigs"
    date: "2021-03-30"
  - title: "#068 // Cineme Paradiso"
    date:  "2021-03-23"
  - title: "#067 // The Last Days of Disco"
    date: "2021-03-16"
  - title : "#066 // Marley"
    date: "2021-03-02"
  - title: "#065 // Wings of Desire"
    date: "2021-02-23"
  - title: "#064 // Bottle Rocket"
    date: "2021-02-16"
  - title: "#063 // Pain; Gap Toothed Women; Sworn to the Drum"
    date: "2021-02-09"
  - title: "#062 // Sundance 2021 Shorts"
    date: "2021-01-30"
  - title: "#061 // Where is My Friend's House?"
    date: "2021-01-26"
  - title: "#060 // Night on Earth"
    date: "2021-01-19"
  - title: "#059 // Pixote"
    date: "2021-01-12"
  - title: "#058 // Nebraska"
    date: "2021-01-05"
  - title: "#057 // From Dusk Till Dawn"
    date: "2020-12-29"
  - title: "#056 // Platoon"
    date: "2020-12-08"
  - title: "#055 // My Dinner with Andre"
    date: "2020-12-01"
  - title: "#054 // Brigsby Bear"
    date: "2020-11-17"
  - title: "#053 // Kajillionaire"
    date: "2020-11-10"
  - title: "#052 // The Manchurian Candidate"
    date: "2020-11-03"
  - title: "#051 // What the Constitution Means to Me"
    date: "2020-10-27"
  - title: "#050 // Far from Vietnam"
    date: "2020-10-20"
  - title: "#049 // Dr. Strangelove"
    date: "2020-10-13"
  - title: "#048 // The Death of Stalin"
    date: "2020-10-06"
---

{% assign non_posts = page.non_posts | sort: 'date' | reverse %} {% assign posts = site.p | sort:
'date' | reverse %} {% assign _films = non_posts | concat: posts %} {% assign films = _films | sort:
'title' | reverse %}

<!-- fulltitle: This overrides the default page title, which is "{{page.title}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->

<section>
  <h1>{{site.title}}</h1>
  {% for film in films %} {% unless film.draft %} {% if film.url %}
  <p><a href="{{ film.url }}">{{ film.title }}</a></p>
  {% else %}
  <p>{{film.title}} // {{film.date}}</p>
  {% endif %} {% endunless %} {% endfor %}
</section>
